<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lending.Name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @lending.NickName %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @lending.Mailing_Address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lending.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lending.Phone %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @lending.SSN %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @lending.Passport %>
</p>

<p>
  <strong>Visa:</strong>
  <%= @lending.Visa %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= @lending.Assistant %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @lending.Manager %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @lending.Creator %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @lending.Create_Date %>
</p>

<p>
  <strong>Open date:</strong>
  <%= @lending.Open_Date %>
</p>

<p>
  <strong>Prelim date:</strong>
  <%= @lending.Prelim_Date %>
</p>

<p>
  <strong>Appraisal date:</strong>
  <%= @lending.Appraisal_Date %>
</p>

<p>
  <strong>Inspection date:</strong>
  <%= @lending.Inspection_Date %>
</p>

<%= link_to 'Edit', edit_lending_path(@lending) %> |
<%= link_to 'Back', lendings_path %>
